/* Banner Start */
.about-banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.about-banner img{
    width: 100%;
}
.about-banner-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 8%;
}
.about-banner-layer .about-text{
    width: 42%;
    background-color: rgba(43, 129, 184, 0.8);
    color: #fff;
    overflow: hidden;
    padding: 1.5rem 2rem 6rem 2rem;
    position: absolute;
    bottom: 0;
}
.about-banner-layer .about-text h1{
    font-weight: 650;
    font-size: calc(1.3rem + 1vw);
    margin-bottom: 1.2rem;
}
.about-banner-layer .about-text p{
    margin: 0;
    margin-top: 0.65rem;
    font-size: calc(0.5rem + 0.5vw);
    text-align: justify;
}

@media screen and (max-width: 1220px){
    .about-banner{
        height: 88vh;
    }
    .about-banner img{
        height: 100%;
    }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .about-banner-layer .about-text{
        padding: 2rem 2.5rem 7rem 2.5rem;
    }
    .about-banner-layer .about-text p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.7rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
     .about-banner-layer .about-text{
        padding: 2.5rem 2.8rem 8rem 2.8rem;
    }
    .about-banner-layer .about-text h1{
        font-size: calc(1.45rem + 1vw);
    }
    .about-banner-layer .about-text p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.72rem;
    }
}
/* Banner End */

/* Our Journey Start */
.our-journey{
    background-image: url('../images/our-journey-bg-2.png');
    background-size: cover;
    color: #fff;
    color: #000;
}
.our-journey-content{
    padding: 4rem 8%;
    position: relative;
}
.our-journey-content h1{
    font-weight: 600;
    font-size: calc(1.3rem + 1vw);
    text-align: center;
}

.timeline-slide-container{
    overflow: hidden;
    margin-top: 3.5rem;
}
.timeline-slide-container .timeline-slide{
    display: flex;
    justify-content: space-between;
}
.timeline-slide .timeline-content{
    width: 53%;
}
.timeline-slide .timeline-image{
    width: 42%;
}
.timeline-slide .timeline-image img{
    width: 100%;
    border: 3px solid #fff;
}
.timeline-slide .timeline-content h2{
    font-weight: 800;
    font-size: calc(2.1rem + 1vw);
}
.timeline-slide .timeline-content h3{
    font-size: calc(0.9rem + 1vw);
    font-weight: 550;
    margin-top: 1rem;
}
.timeline-slide .timeline-content p{
    margin: 0;
    margin-top: 1.2rem;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
}
/* btns */
.timeline-slide-btns{
    width: 42%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 1.5rem 0;
}
.timeline-slide-btns i{
    font-size: calc(0.2rem + 0.5vw);
}
.timeline-slide-btns button{
    font-size: calc(1.5rem + 0.5vw);
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    gap: 2px;
    background: transparent;
    border: none;
    /* color: #fff; */
    transition: color 0.2s ease;
}
.timeline-slide-btns button:hover{
    /* color: #d2d2d2; */
    color: #373737;
}
.timeline-slide-btns button i{
    font-size: calc(0.01rem + 0.4vw);
}
.timeline-slide-btns button span{
    margin-top: -7px;
}
/* timeline track */
.timeline-track{
    /* background: linear-gradient(to right, transparent, #fff 20%, #fff 80%, transparent); */
    background: linear-gradient(to right, transparent, #000 20%, #000 80%, transparent);
    height: 3px;
    width: 38%;
    margin: 0 auto;
    margin-top: 3rem;
}
/* timeline balls */
.pagination-wrapper {
    width: 291px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    bottom: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 4rem 0 2rem 1rem;
}
.custom-pagination {
    display: flex;
    gap: 100px;
    transition: transform 0.5s ease;
}
.pagination-dot {
    width: 17px;
    height: 17px;
    /* background-color: #fff; */
    background-color: #000;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    flex-shrink: 0;
}
.pagination-dot.active {
    width: 24px;
    height: 24px;
    /* background-color: #fff; */
    background-color: #000;
    font-size: 21px;
    font-weight: bold;
    transform: scale(1.2);
    margin-top: -4px;
    border-radius: 50%;
    /* box-shadow: 0 0 0 2px #1e1e1e, 0 0 0 3.5px #fff; */
    box-shadow: 0 0 0 2px #d4d4d4, 0 0 0 3.5px #000;
}
.pagination-dot span {
    /* color: #fff; */
    transition: all 0.3s ease;
    margin-top: -60px;
    user-select: none;
}
.pagination-dot.active span {
    margin-top: -85px;
}
.pagination-dot:first-child span,
.pagination-dot:last-child span {
    display: none;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
   .our-journey-content h1{
        font-size: calc(1.4rem + 1vw);
    }
    .timeline-slide .timeline-image img{
        border: 3.5px solid #fff;
    }
    .timeline-slide .timeline-content h2{
        font-size: calc(2.4rem + 1vw);
    }
    .timeline-slide .timeline-content h3{
        font-size: calc(1.1rem + 1vw);
        margin-top: 1.2rem;
    }
    .timeline-slide .timeline-content p{
        margin-top: 1.4rem;
        font-size: calc(0.6rem + 0.5vw);
    }

    .timeline-slide-btns{
        gap: 0.35rem;
        padding: 1.9rem 0;
    }
    .timeline-slide-btns i{
        font-size: calc(0.3rem + 0.5vw);
    }
    .timeline-slide-btns button{
        font-size: calc(1.65rem + 0.5vw);
        gap: 2.5px;
    }
    .timeline-slide-btns button i{
        font-size: calc(0.02rem + 0.4vw);
    }
    .timeline-slide-btns button span{
        margin-top: -6px;
    }

    .timeline-track{
        width: 35.5%;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .our-journey-content h1{
        font-size: calc(1.5rem + 1vw);
    }
    .timeline-slide .timeline-image img{
        border: 4px solid #fff;
    }
    .timeline-slide .timeline-content h2{
        font-size: calc(2.7rem + 1vw);
    }
    .timeline-slide .timeline-content h3{
        font-size: calc(1.23rem + 1vw);
        margin-top: 1.3rem;
    }
    .timeline-slide .timeline-content p{
        margin-top: 1.5rem;
        font-size: calc(0.65rem + 0.5vw);
    }

    .timeline-slide-btns{
        gap: 0.4rem;
        padding: 2.15rem 0 3.5rem 0;
    }
    .timeline-slide-btns i{
        font-size: calc(0.3rem + 0.5vw);
    }
    .timeline-slide-btns button{
        font-size: calc(1.7rem + 0.5vw);
        gap: 2.7px;
    }
    .timeline-slide-btns button i{
        font-size: calc(0.025rem + 0.4vw);
    }
    .timeline-slide-btns button span{
        margin-top: -7px;
    }

    .timeline-track{
        width: 35%;
    }
}
/* Our Journey End */

/* Brand Story Start */
.brand-story{
    background-image: url('../images/brand-story-bg.webp');
    background-size: cover;
    position: relative;
}
.brand-story-content{
    height: 100vh;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand-story-content h1{
    color: #fff;
    font-weight: 650;
    font-size: calc(1.4rem + 1vw);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.brand-story-content p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 0.8rem;
}
.brand-story .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(109, 109, 109, 0.649);
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
   .brand-story-content h1{
        font-size: calc(1.5rem + 1vw);
        margin-bottom: 1.2rem;
        margin-top: 3.5rem;
    }
    .brand-story-content p{
        font-size: calc(0.58rem + 0.5vw);
        margin-top: 1rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
   .brand-story-content h1{
        font-size: calc(1.6rem + 1vw);
        margin-bottom: 1.2rem;
        margin-top: 3.5rem;
    }
    .brand-story-content p{
        font-size: calc(0.63rem + 0.5vw);
        margin-top: 1rem;
    }
}
/* Brand Story End */

/* Chairman Start */
.chairman{
    margin-top: 0;
}
/* Rest styles are coming from Home Page Chairman Message Section (style.css) */
/* Chairman End */

/* Vision Mission Start */
.vision-mission{
    padding: 6.5rem 8% 4rem 8%;
    display: flex;
    justify-content: space-between;
}
.vision-mission-card{
    width: 46%;
    background-color: #194b71;
    padding: 8rem 2.7rem 2rem 2.7rem;
    color: #fff;
    text-align: center;
    position: relative;
}
.vision-mission-card .card-img{
    position: absolute;
    background-color: #d9d9d9;
    padding: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0.7rem solid #fff;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.vision-mission-card img{
    width: 100%;
}
.vision-mission-card h1{
    font-weight: 600;
    font-size: calc(1.3rem + 1vw);
}
.vision-mission-card h2{
    font-size: calc(0.8rem + 0.5vw);
    margin: 2rem 0;
}
.vision-mission-card p{
    font-size: calc(0.5rem + 0.5vw);
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
   .vision-mission{
        padding: 7rem 8% 4.5rem 8%;
    }
    .vision-mission-card{
        padding: 8rem 3.4rem 2rem 3.4rem;
    }
    .vision-mission-card h1{
        font-size: calc(1.4rem + 1vw);
    }
    .vision-mission-card h2{
        font-size: calc(0.9rem + 0.5vw);
        margin: 2.2rem 0;
    }
    .vision-mission-card p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .vision-mission{
        padding: 7.8rem 8% 5.5rem 8%;
    }
    .vision-mission-card{
        padding: 8.8rem 3.8rem 2rem 3.8rem;
    }
    .vision-mission-card h1{
        font-size: calc(1.5rem + 1vw);
    }
    .vision-mission-card h2{
        font-size: calc(0.93rem + 0.5vw);
        margin: 2.3rem 0;
    }
    .vision-mission-card p{
        font-size: calc(0.6rem + 0.5vw);
    }
}
/* Vision Mission End */









