/* Banner Start */
.banner{
    width: 100%;
    height: 88vh;
    position: relative;
    overflow: hidden;
}
.banner video{
    width: 100%;
}
.banner .banner-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner .banner-layer h1{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: calc(1rem + 1vw);
}
.banner .banner-layer h2{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    margin-top: 1.2rem;
}
/* Banner End */